{% extends 'process_form/base.html' %}
{% load static %}
{% block 标题 %}综合评价指标说明{% endblock 标题 %}
{% block 评价指标高亮 %}active{% endblock 评价指标高亮 %}
{% block 主体 %}

<h1 >人才引进论文综合评价参考指标说明</h1>
<br />
<h2>1、引进人才基本条件：</h2>
<h3>满足以下条件中任意两项的，为讲师：</h3>
<ul>
	<li>JCR分区为一或二的论文数量之和大于等于1</li>
	<li>综合指标分数大于等于5</li>
	<li>SCI他引之和大于等于7</li>
</ul>
<h3>满足以下条件中任意两项的，为见习副教授：</h3>
<ul>
	<li>JCR分区为一或二的论文数量之和大于等于2</li>
	<li>综合指标分数大于等于20</li>
	<li>SCI他引之和大于等于20</li>
	<li>获得NSFC青年基金/面上基金/重点基金</li>
</ul>
<h3>满足以下条件中任意两项的，为副教授：</h3>
<ul>
	<li>JCR分区为一或二的论文数量之和大于等于3</li>
	<li>综合指标分数大于等于30</li>
	<li>SCI他引之和大于等于30</li>
	<li>获得NSFC面上基金/重点基金</li>
</ul>
<h3>满足以下条件中任意两项的，为见习教授：</h3>
<ul>
	<li>JCR分区为一或二的论文数量之和大于等于4</li>
	<li>综合指标分数大于等于40</li>
	<li>SCI他引之和大于等于40</li>
	<li>获得NSFC重点基金</li>
</ul>
<h3>满足以下条件中任意两项的，为教授：</h3>
<ul>
	<li>JCR分区为一或二的论文数量之和大于等于5</li>
	<li>综合指标分数大于等于50</li>
	<li>SCI他引之和大于等于50</li>
	<li>获得NSFC重点基金</li>
</ul>
<h3>满足以下条件中任意一项的，为教授：</h3>
<ul>
	<li>4青之一</li>
	<li>ESI论文数量大于等于1 篇</li>
	<li>负责实施项目经费总额大于等于 300 万</li>
</ul>
<br />
<h2>2、综合指标分数计算方法：</h2>
<h3>综合指标=JCR分数 + Ln(所有论文影响因子之和+1）× Ln（所有论文被引用数之和+1）</h3>
<br />
<h2>3、JCR分数计算方法：</h2>
<h3>JCR分数为以下三个项目的总和：</h3>
<ul>
	<li>中科院JCR分区
		<ul>
			<li>每篇分区为一区的Top文章加7分</li>
			<li>每篇分区为一区的非Top文章加5分</li>
			<li>每篇分区为二区的Top文章加4分</li>
			<li>每篇分区为二区的非Top文章加3分</li>
			<li>每篇分区为三区的文章加2分</li>
			<li>每篇分区为四区的文章加1分</li>
		</ul>
	</li>
	<li>ESI高被引
		<ul>
			<li>每篇分区为一区的ESI高被引文章加10分</li>
			<li>每篇分区为二区的ESI高被引文章加7分</li>
			<li>每篇分区为三区的ESI高被引文章加1分</li>
		</ul>
	</li>
	<li>专利
		<ul>
			<li>每个国际授权专利加5分</li>
			<li>每个国内授权专利加1分</li>
		</ul>
	</li>
</ul>

{% endblock 主体 %}
