{% extends 'process_form/base.html' %}
{% load static %}
{% block css %}{% static 'process_home/css/home.css' %}{% endblock css %}
{% block 标题 %}上传表格{% endblock 标题 %}
{% block 上传表格高亮 %}inactive{% endblock 上传表格高亮 %}
{% block 主体 %}

<br>
<br>
<br>
<br>
<br>

<h3 class="font-weight-bold" align="center">上传文件为空</h3>
<br>

<div align="center" >
    <a href="{% url 'processform:home_html'%}">
        <button class="btn btn-primary btn-large" type="submit"><h4>请重新上传</h4></button>
    </a>
</div>

{% endblock 主体 %}

