{% extends 'process_form/base.html' %}
{% load static %}
{% block css %}{% static 'process_form/css/home.css' %}{% endblock css %}
{% block 标题 %}论文查询{% endblock 标题 %}
{% block 上传表格高亮 %}active{% endblock 上传表格高亮 %}
{% block 主体 %}

<h2 class="font-weight-bold" align="center">论文查询界面</h2>
<br>
<h4 class="font-weight-bold" align="center">已查到的论文</h4>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>序号</th>
            <th>论文名</th>
            <th>期刊名</th>
            <th>分区</th>
            <th>TOP</th>
            <th>影响因子</th>
            <th>他引次数</th>
            <th>ESI高被引</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody class="no-underline">
        {% for each in searched %}
        <tr>
            <th class="text-dark" scope="row">{{ forloop.counter }}</th>
            <th class="text-dark" scope="row">{{ each.paper_name }}</th>
            <th class="text-dark" scope="row">{{ each.journal_name }}</th>
            <th class="text-dark" scope="row">{{ each.fenqu }}</th>
            <th class="text-dark" scope="row">{{ each.top }}</th>
            <th class="text-dark" scope="row">{{ each.if_avg }}</th>
            <th class="text-dark" scope="row">{{ each.cites }}</th>
            <th class="text-dark" scope="row">{{ each.esi }}</th>
            <td>
                <a href="{% url 'processform:edit_html' forloop.counter %}">
                    <button type="submit" class="btn btn-primary btn-sm">编辑</button>
                </a>
            </td>
            <td>
                <button data-toggle="modal" data-target="#exampleModal{{ forloop.counter }}" type="button" class="btn btn-primary btn-sm">删除</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModal{{ forloop.counter }}Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModal{{ forloop.counter }}Label">请确认</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                确定要删除<strong>论文: {{ each.paper_name }}</strong> 吗?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <form method="POST" action="{% url 'processform:delete_html' forloop.counter %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">确认</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

    {% if 警告 %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong><center>{{ 警告 }}</center></strong>
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
    {% endif %}
    <form method="GET" action="{% url 'processform:add_html' %}" align="center">
        {% csrf_token %}
        <button class="btn btn-success btn-lg btn-block" type="submit">手动添加论文</button>
    </form>
</div>

<br>
<br>

<h4 class="font-weight-bold" align="center">未查到的论文</h4>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>序号</th>
            <th>论文名</th>
            <th>期刊名</th>
            <th>编辑</th>
            <th>重新搜索</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody class="no-underline">
        {% for each in unsearched %}
        <tr>
            <th class="text-dark" scope="row">{{ forloop.counter }}</th>
            <th class="text-dark" scope="row">{{ each.paper_name }}</th>
            <th class="text-dark" scope="row">{{ each.journal_name }}</th>
            <td>
                <a href="{% url 'processform:edit_unsearched_html' forloop.counter %}">
                    <button type="submit" class="btn btn-primary btn-sm">编辑</button>
                </a>
            </td>
            <td>
                <a href="{% url 'processform:research_html' forloop.counter %}">
                    <button type="submit" class="btn btn-primary btn-sm">重新搜索</button>
                </a>
            </td>
            <td>
                <button data-toggle="modal" data-target="#exampleModal1{{ forloop.counter }}" type="button" class="btn btn-primary btn-sm">删除</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal1{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModal1{{ forloop.counter }}Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModal1{{ forloop.counter }}Label">请确认</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                确定要删除<strong>论文: {{ each.paper_name }}</strong> 吗?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <form method="POST" action="{% url 'processform:delete_unsearched_html' forloop.counter %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">确认</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<br>
<br>
<form method="POST" action="{% url 'processform:result_html' %}" align="center">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">提交论文结果</button>
</form>
<br>
{% endblock 主体 %}
